requests>=2.32.2
rich>=12.0.0
slack-sdk>=3.19.0
agno>=0.1.0
argparse>=1.4.0
google-genai
openai
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
python-multipart>=0.0.18 # not directly required, pinned by Snyk to avoid a vulnerability
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
